.typewriter {
  position: relative;
  display: inline-block ;
}

.typewriter::after {
  content: '|';
  position: absolute;
  right: 0;
  color: rgb(8, 8, 8);
  background-color: rgb(255, 255, 255);
  height: 70px;
  width: 100%;
  animation: typing 3s steps(16) alternate infinite;
}

@keyframes typing {
  to{
    width: 0%;
  }
}

/* FLoating element */
.floating{
  animation: floatinganimation 2s, infinite;
}

@keyframes floatinganimation
{
  0%, 100%
  {
    transform: translateY(0);
  }
  50%
  {
    transform: translateY(-15);
  }
}

.element-to-hide {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

@media (max-width: 768px) {
  .element-to-hide {
    display: none; /* Hide the element in mobile mode */
  }
}

/* cards hover shadow  */
.service-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Customize the shadow as needed */
  transition: box-shadow 0.3s ease; /* Add a smooth transition effect */
}


/* @media (max-width: 392px) {
  .img-custom{
    height: 50px;
    width: 50px;
  }
}
 */


/* Portfolio Item Styles */
.portfolio-item {
  display: block;
  position: relative;
  overflow: hidden;
  max-width: 530px;
  margin: auto auto 1rem;
}

.portfolio-item .caption {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: background-color 0.7s, -webkit-clip-path 0.25s ease-out;
  transition: clip-path 0.25s ease-out, background-color 0.7s;
  transition: clip-path 0.25s ease-out, background-color 0.7s, -webkit-clip-path 0.25s ease-out;
  -webkit-clip-path: inset(0px);
  clip-path: inset(0px);
}

.portfolio-item .caption .caption-content {
  color: #fff;
  margin: auto 2rem 2rem;
  opacity: 0; /* Initially hide the text */
  transition: opacity 0.25s; /* Add a smooth transition effect */
}

.portfolio-item .caption .caption-content h2,
.portfolio-item .caption .caption-content .h2 {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.portfolio-item .caption .caption-content p {
  font-weight: 300;
  font-size: 1.2rem;
}

.portfolio-item img {
  transition: -webkit-clip-path 0.25s ease-out;
  transition: clip-path 0.25s ease-out;
  transition: clip-path 0.25s ease-out, -webkit-clip-path 0.25s ease-out;
  -webkit-clip-path: inset(-1px);
  clip-path: inset(-1px);
}

.portfolio-item:hover img {
  -webkit-clip-path: inset(2rem);
  clip-path: inset(2rem);
}

.portfolio-item:hover .caption {
  background-color: rgba(65, 77, 88, 0.9);
  -webkit-clip-path: inset(2rem);
  clip-path: inset(2rem);
}

.portfolio-item:hover .caption-content {
  opacity: 1; /* Show the text on hover */
}


/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team .member {
  text-align: center;
  margin-bottom: 80px;
  position: relative;
}

.team .member .pic {
  overflow: hidden;
}

.team .member .member-info {
  position: absolute;
  top: 85%;
  left: 20px;
  right: 20px;
  background: #fff;
  padding: 20px 0;
  color: #2f4d5a;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  max-height: 95px;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.team .member:hover .member-info {
  max-height: 300px;
}

.team .member h4 {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 16px;
  color: #2f4d5a;
  position: relative;
  padding-bottom: 10px;
}

.team .member h4::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  background: #b1cbd7;
  bottom: 0;
  left: calc(50% - 25px);
}

.team .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
}

.team .member .social {
  margin-top: 15px;
}

.team .member .social a {
  transition: color 0.3s;
  color: #52869d;
}

.team .member .social a:hover {
  color: #67b0d1;
}

.team .member .social i {
  font-size: 16px;
  margin: 0 2px;
}

@media (max-width: 992px) {
  .team .member {
    margin-bottom: 110px;
  }
}

/*--------------------------------------------------------------
# Team End
--------------------------------------------------------------*/
.transition-button {
  transition: transform 0.5s ease-in-out;
}

.transition-button.active {
  transform: scale(1.1);
  color: red;
}

#achievements, #certificates {
  display: none;
}

/*--------------------------------------------------------------
# Button Animation
--------------------------------------------------------------*/


/* scroll to top button */
.top-btn-position {
  position: fixed;
  bottom: 15px;
  right: 40px;
  z-index: 20;
}

.top-btn-style {
  height: 140px;
  width:20px;
  color: #333;
  cursor: pointer;
}

.top-btn-style:hover {
  animation: none;
  border: 2px solid #fff;
}